<div>div</div>
<div>
  <div>
    <div class="container">
      <div id="listBox" class="border border-1 border-light rounded-3 p-3">
        <ul>
          <li>even number is red</li>
          <li>odd number is blue</li>
          <li>negative even number is white</li>
          <li>negative odd number is green</li>
        </ul>
      </div>
      <div class="mb-3">
        <label for="editName" class="form-label">Name</label>
        <input
          type="number"
          appColorDirective
          class="form-control bg-dark text-light w-50 m-auto"
        />
      </div>


    </div>
  </div>
</div>
